<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExampleWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("HeadOptions", required: false)
</head>
<body>
    <div id="wrapper">

        <!-- サイドバーメニュー -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">ExampleWeb</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            入力検証関連
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-controller="ValidateBasic" asp-action="Index" class="dropdown-item">入力検証</a>
                            <a asp-controller="ValidateMany" asp-action="Index" class="dropdown-item">入力検証(多数項目)</a>
                            <a asp-controller="ValidateSummary" asp-action="Index" class="dropdown-item">カスタムエラーメッセージ一覧</a>
                            <a asp-controller="Upload" asp-action="Index" class="dropdown-item">アップロード</a>
                            <a asp-controller="TagHelperExample" asp-action="Index" class="dropdown-item">タグヘルパー</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            HTML/CSS/JS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a asp-controller="CheckboxExample" asp-action="Index" class="dropdown-item">チェックボックス</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>

        <!-- コンテンツ -->
        <div id="main" class="container-fluid">
            <main role="main" class="my-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <!-- enable fundamentals -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- クライアント側入力検証を有効化 -->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <!-- site local -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- ページ個別指定 -->
    @RenderSection("Scripts", required: false)

</body>
</html>
