@model ValidateNestedModel

<div class="">

    <form asp-action="Regist">

        <h1>バリデーションテスト</h1>
        <p />
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="text-danger" asp-custom-validation-summary></div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="prop1" class="col-form-label">項目1</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="prop1" type="text" class="form-control" />
                <span asp-validation-for="prop1" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="prop2" class="col-form-label">項目2</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="prop2" type="text" class="form-control" />
                <span asp-validation-for="prop2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="prop3" class="col-form-label">項目3</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="prop3" type="text" class="form-control" />
                <span asp-validation-for="prop3" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="prop5.child1" class="col-form-label">子項目1</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="prop5.child1" type="text" class="form-control" />
                <span asp-validation-for="prop5.child1" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="prop5.child2" class="col-form-label">子項目2</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="prop5.child2" type="text" class="form-control" />
                <span asp-validation-for="prop5.child2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="prop5.child3" class="col-form-label">子項目3</label>
            </div>
            <div class="col-sm-4">
                <input asp-for="prop5.child3" type="text" class="form-control" />
                <span asp-validation-for="prop5.child3" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </div>

    </form>
</div>

@*
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    }
*@
