@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <a asp-action="DoGet" class="btn btn-primary mr-5">GET実行</a>
        <a asp-action="DoPost" class="btn btn-primary mr-5">POST実行</a>

    </div>
